$color: #1976D2;
$color_2: #42a5f5;
$grey: #a1a1a1;

html, body {
    padding: 0;
    margin: 0;
    line-height: 1.5;

    width: 100%;
    height: 100%;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;

    a, button {
        cursor: pointer;
    }

    @media (min-width: 768px) {
        flex-wrap: wrap;
    }

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

* {
    box-sizing: border-box;
}

.hidden{
    display: none !important;
}

#browser-too-small {
    padding: 0.4em 1em;
    background: $color;
    text-align: center;
    color: #fff;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    @media (min-width: 767px) {
        display: none;
    }
}

#wrapper {
    width: calc(100% - 400px);
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        height: 100%;
    }

    @media (max-width: 767px) {
        width: 100%;
    }
}

#artwork--wrapper{
    flex: 1 1 auto;
    position: relative;
    overflow: hidden;

    @media (max-width: 767px) {
        width: 100%;
    }
}

#gallery {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0 0 auto;
    background-color: #f1f1f1;
    overflow: auto;

    & > div {
        width: 100px;
        background-size: cover;
        flex: 0 0 auto;
        cursor: pointer;
        background-position: center center;
        opacity: 0.15;
        transition: opacity 0.45s;

        &:before{
            content: '';
            display: block;
            padding-bottom: 100%;
        }

        &:hover,
        &.active{
            opacity: 1;
        }
    }
}

.guiding--block {
    opacity: 0;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border: 2px solid $color;
    background-color: rgba($color, 0.25);

    &::before{
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0; left: 0;
    }

    &.active-2,
    &.active {
        opacity: 1;
    }

    &.active-2 { 
        .guiding--resize {
            $sq: 14px;
            border-radius: $sq;
            width:$sq;
            height: $sq;
            display: block;
            background-color: $color;
            border: 1px solid rgba($color_2, 0.8);
            position: absolute;
            top: 100%;
            left: 100%;
            transform: translate(-50%, -50%);
            cursor: move;
            z-index: 1;
        }

        .guidding--text {
            pointer-events: none;
        }
    }

    &:not(.dragging){
        cursor: grab;
    }

    &.dragging {
        cursor: grabbing !important;
    }
}

#settings-sidebar {
    width: 400px;
    flex: 0 0 400px auto;
    background-color: #efefef;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 767px) {
        width: 100%;
    }

    .actions{
        display: flex;
        align-items: center;
        padding-bottom: 1em;

        button + div {
            margin-left: 5px;
            top: -1px;
        }

        button {
            height: 24px;
            margin: 0;
        }
    }
}

.image-name {
    padding-bottom: 1rem;
    font-weight: bold;
}

.nav {
    margin-top: auto;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .result {
        padding: 0 1rem;
        min-width: 80px;
        text-align: center;
    }

    a {
        cursor: pointer;
        color: $color;
        padding: 8px 18px;
    }
}

.tags-container {
    width: 100%;
    flex: 1 1 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    .heading{
        flex: 0 0 auto;
        justify-content: space-between;
        display: flex;

        button {
            margin-left: 10px;
        }
    }

    .body {
        flex: 1 1 auto;
        overflow: auto;
        border-top: 1px solid #666;
        border-bottom: 1px solid #666;
        margin: 8px 0;
        padding: 8px 0;

        @media (max-width: 767px) {
            min-height: 240px;
        }

        &.repositioning {
            div:not([data-type="Done"]) {
                .tag-name,
                a {
                    color: $grey;
                }
            }

            .tag:hover {
                background-color: transparent !important;
            }
        }
    }

    .tag{
        display: flex;
        align-items: center;
        width: 100%;
        overflow: hidden;
        padding: 0.15rem 0.5em;
        transition: all 0.3s;

        &:hover {
            background-color: #c1c1c1;
        }

        .tag-name {
            flex: 1 1 auto;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 0.95rem;
        }

        a {
            margin-left: 10px;
            flex: 0 0 auto;
            color: $color;
            font-size: 13px;
        }
    }
}

.sugar-coat{
    position: relative;
    overflow: hidden;
    cursor: pointer;

    input {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

